<!DOCTYPE html>
<html ng-app="app1" ng-init="person={fName:'soumya',lName:'Bharadwaj'};
capitals=[{city:'Ajmer',state:'Rajasthan'},{city:'Chennai',state:'Tamil Nadu'},
{city:'Pune',state:'Maharashtra'}]">
  <head>

    <title></title>
  </head>
  <body>
    <div ng-controller="ctr">

      <span>Values:</span>
      <input type="text" ng-model="first" />
      <input type="text" ng-model="second" />

      <button ng-click="updateValue()">Sum</button>
      <br><br>
      {{calculation}}
      <p> 5+5 ={{5+5}}</p>
      <p> Your first value is {{first}}</p>
      <p> Your second value is
        <span data-ng-bind="second"></span></p>
        <p>
        {{person.fName + "" +person.lName}} your entered {{first + " and " +second}}
        </p>
        <ul>
          <li ng-repeat="capital in capitals">
          {{'city: ' + capital.city + ', state:' + capital.state}}
        </li>
        </ul>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js" charset="utf-8"></script>
  <script src="js/first.js"></script>
  </body>
</html>
