<!DOCTYPE html>
<html ng-app="app6">
  <head>
    <meta charset="utf-8">
    <title>angular 6</title>
    <style>
      [ng\:cloak],[ng-cloak ],ng-cloak{
        display: none;
      }
      table{
        border: 2px solid black;
        padding: 10px;
        text-align: left;
        width: 400px;
      }
      input.ng-dirty.ng-invalid{
        border.color: red;
      }
    </style>
  </head>
  <body>
    <div ng-controller="ctrl6">
      <h3>Grocery List</h3>
      <table>
        <thead>
          <tr>
            <th>item</th>
            <th>Purchased</th>
          </tr>
        </thead>
        <tr ng-repeat="groc in groceries">
          <td>{{groc.item}}</td>
          <td><input type="checkbox" ng-model="groc.purchased" /></td>
        </tr>
      </table>
      <br>
      <label>New Item:
        <input type="text" ng-model="newItem" />
      </label>
      <button ng-click="addItem(newItem)">Add New Item</button>
      <h4>{{missingNewItemError}}</h4>
    </div>
    <div ng-controller="userCtrl">

      <form name="userForm" ng-submit="saveUser(userInfo)">
        <label>First Name:</label>
        <input type="text" name="fname" ng-model="userInfo.fName"
          ng-required="true" ng-minlength="2" />

        <span class="error-message"
          ng-show="userForm.fname.$dirty &&
          userForm.fname.$error.required">Must Enter a First Name
        </span>

        <span class="error-message"
          ng-show="userForm.fname.$dirty &&
          userForm.fname.$error.minlength">Must be a minimum of two characters
        </span>

        <br><br>

        <label>Last Name:</label>
        <input type="text" name="lname" ng-model="userInfo.lName"
          ng-required="true" ng-minlength="2" />
        <span class="error-message"
          ng-show="userForm.lname.$dirty &&
          userForm.lname.$error.required">Must Enter a Last Name
        </span>

        <span class="error-message"
          ng-show="userForm.lname.$dirty &&
          userForm.lname.$error.minlength">Must be a minimum of two characters
        </span>

        <br><br>
        <label>Street:</label>
        <input type="text" name="street" ng-model="userInfo.street" ng-required="true" ng-minlength="6">
        <span class="eroor-message" ng-show="userForm.street.$dirty
         && userForm.street.$invalid">Must Enter a Number,Street and street type</span>
         <br><br>

         <label>Subscribe:</label>
         <input type="checkbox" name="subscribe"
         ng-model="userInfo.subscribe"
         ng-true-value="'Subscribe'"
         ng-false-value="'Don\'t Subscribe'" />
         <br><br>
         <label>Delivery Method</label>
         <select name="deleivery" ng-model="userInfo.delivery"
         ng-required="true">
          <option value="email">Email</option>
          <option value="mail">Mail</option>

         </select>
         <br><br>
         <input type="submit"  value="save"
         ng-disabled="userForm.$invalid" />
         <ul>
           <li ng-repeat="item in user">
             {{'User: ' + item.fName + " " + item.lName + " " +
                item.street + " " + item.subscribe + " " +
                item.delivery}}
           </li>
         </ul>
      </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js" charset="utf-8"></script>
    <script src="js/six.js"></script>
  </body>
</html>
