<!DOCTYPE html>
<html ng-app="app3" ng-cloak>
  <head>
    <title></title>
    <style>
      [ng\:cloak],[ng-cloak], .ng-cloak{
        display: none;
      }
    </style>
  </head>
  <body>
    <div id="groceryList" ng-controller="gList">
      <h3 class="ListTitle">{{groceries.length}} Groceries to Get</h3>
      <h3 class="ListTitle"><span ng-bind="groceries.length">
                              </span> Groceries to Get</h3>

      <ol>
        <li ng-repeat="groc in groceries" ng-if="$index > 0">
        {{groc.item}}
        </li>
      </ol>

      <table>
        <tr ng-repeat-start="groc in groceries">
          <td>
            {{groc.item}}
          </td>
        </tr>
        <tr ng-repeat-end>
            <td>
              {{groc.purchased}}
            </td>
        </tr>

      </table>

      <label>Change 1st item:</label>
      <input ng-model="groceries[0].item" />

      <h3>Grocey list</h3>
      <label>
      <div ng-include="'ol.html'"></div>
      <input type="checkbox" ng-model="showList" >
      Show Unordered List
      </label>
      <ng-include src="getList()"></ng-include>
      <label>
      type a number (1 to 4):
        <input type="text" ng-model="someNumber" />
      </label>

      <div ng-switch="someNumber">
        <p ng-switch-when="1">You entered 1</p>
        <p ng-switch-when="2">You entered 2</p>
        <p ng-switch-when="3">You entered 3</p>
        <p ng-switch-when="4">You entered 4</p>
        <p ng-switch-when="5">You entered 5</p>
        <p ng-switch-default="1">Not following directiions</p>
      </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js" charset="utf-8"></script>
    <script src="js/three.js"></script>
  </body>
</html>
